site_name: RAT
site_description: Reservoir Assessment Tool 3.0
site_author: Sanchit Minocha | UW SASWE 
repo_url: https://github.com/UW-SASWE/RAT
site_url: https://rat-satellitedams.readthedocs.io/
theme:
    name: readthedocs
    logo: 'logos/Rat_Logo_white.png'
    highlightjs: true
    hljs_languages:
        - yaml
        - rust
    include_homepage_in_sidebar: false
    features:
      - content.code.copy  
    icon:
      admonition:
        success: fontawesome/solid/check
        warning: fontawesome/solid/triangle-exclamation
copyright: Written and maintained by <a href="https://www.linkedin.com/in/sanchitminochaiitr/">Sanchit Minocha</a> <br> Copyright &copy; 2023, <a href="https://saswe.net/">University of Washington SASWE Research Group</a> 
docs_dir: docs
site_dir: site
use_directory_urls: true
markdown_extensions:
  - admonition
  - mdx_math
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_alt
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list

plugins:
    - markdownextradata
nav:
# Main pages
- Home:
    - 'RAT': 'index.md'
    - 'Motivation': 'Motivation/motivation.md'
- Model:
    - 'Conceptual Model': 'Model/ConceptualModel.md'
    - 'Computational Model': 'Model/ComputationalModel.md'
- Quick Start: 
    - 'Getting Ready': 'QuickStart/GettingReady.md'
    - 'User Guide': 'QuickStart/UserGuide.md'
- Commands:
    - 'Command Line Interface': 'Commands/cli_commands.md'
    - 'Python': 'Commands/python_commands.md'
- RAT Configuration:
    - 'Configuration File': 'Configuration/rat_config.md'
    - 'Secrets File': 'Configuration/secrets.md'
    - 'Multiple Basin Run': 'Configuration/basins_metadata.md'
- Plugins:
    - 'Forecasting': 'Plugins/Forecasting.md'
- Data Description:
    - 'Directory Structure': 'RAT_Data/DirectoryStructure.md'
    - 'Global Database': 'RAT_Data/GlobalDatabase.md'
- Application:
    - 'Web App': 'Applications/WebApp.md'
- Development:
    - 'Dev Version': 'Development/DeveloperVersion.md'
- Contact:
    - 'Contact': 'Contact/contact.md'
- Disclaimer:
    - 'Disclaimer': 'Disclaimer/disclaimer.md'


extra_css: [css/extra.css]

extra_javascript: 
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
    
extra:
  homepage: https://depts.washington.edu/saswe/rat/
  rat_version:
    major: 3
    minor: 0